/* style.css */

body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#070b14; /* preto bem escuro */
    color:#cfe3ff;
    line-height: 1.6;
}

/* HEADER */
header{
    background:#0a3d91; /* azul escuro */
    color:#cfe3ff;
    text-align:center;
    padding:30px;
}

/* NAV */
nav{
    background:#05070f;
    text-align:center;
    padding:15px;
    border-bottom: 2px solid #0a3d91;
}

nav a{
    color:#7fb3ff;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:#b9d6ff;
    text-shadow: 0 0 6px #1e90ff;
}

/* SECTIONS */
section{
    background:#0c1224; /* azul-preto escuro */
    margin:20px auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 12px rgba(0,0,0,0.8);
    max-width:1000px;
}

/* TITULOS */
h2{
    color:#6aa9ff;
}

/* TABELA */
table{
    width:100%;
    border-collapse:collapse;
}

table, th, td{
    border:1px solid #1b2a55;
}

th{
    background:#0a3d91;
    color:#cfe3ff;
}

th, td{
    padding:10px;
    text-align:center;
    color:#cfe3ff;
}

tr:nth-child(even){
    background:#0a1020;
}

/* BOTÃO */
button{
    background:#0a3d91;
    color:#cfe3ff;
    border:none;
    padding:12px 18px;
    border-radius:6px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#0f5bd3;
    transform: translateY(-1px);
}